body {
    font-family: 'Atkinson Hyperlegible', serif;
    font-size: 14px;
    line-height: 1.6;
}
html {
    max-width: 960px;
    font-size: 16px;
    font-family: 'Atkinson Hyperlegible', serif;
}
img { 
    max-width: 400px;
}
figure {
    padding: 5%;
    background-color: aqua;
}
figcaption {
    font-size: 80%;
    font-family: sans-serif;
}
