body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
html {
    max-width: 960px;
}
img { 
    max-width: 400px;
}
figure {
    padding: 5%;
}
